@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#root{
  height: 100%;
}
html{
  height:100%;
}
body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  height: 100%;
}
.bg-pattern {
  background-color: #f6f8fc;
  background-image: radial-gradient(#276fff 2px, transparent 2px), radial-gradient(#276fff 2px, #f6f8fc 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}
.styled-scrollbar{
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color:  #276fff;
}
/* Chrome, Edge, and Safari */
.styled-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100%;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: #276fff;
  border-radius: 20px;
}